<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="./index.html" class="brand-link">
            <i class="fa-solid fa-city"></i>
            <span class="brand-text fw-light">Space X</span>
        </a>
    </div>

    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="navigation"
                aria-label="Main navigation"
                data-accordion="false"
                id="navigation">

                <!-- CADASTROS -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-plus"></i>
                        <p>
                            Cadastros
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/usuario/lista" class="nav-link">
                                <i class="bi bi-person-badge-fill"></i>
                                <p>Usuário</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/cliente/lista" class="nav-link">
                                <i class="bi bi-person-badge-fill"></i>
                                <p>Cliente</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/fornecedor/lista" class="nav-link">
                                <i class="bi bi-circle"></i>
                                <p>Fornecedor</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/empresa/lista" class="nav-link">
                                <i class="bi bi-circle"></i>
                                <p>Empresa</p>
                            </a>
                        </li>

                        <!-- PRODUTO -->
                        <li class="nav-item">
                            <a href="/produto/lista" class="nav-link">
                                <i class="bi bi-box-seam"></i>
                                <p>Produto</p>
                            </a>
                        </li>

                        <!-- CONDIÇÃO DE PAGAMENTO -->
                        <li class="nav-item">
                            <a href="/pagamento/lista" class="nav-link">
                                <i class="bi bi-cash-stack"></i>
                                <p>Condição de Pagamento</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- VENDAS -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-cart-check"></i>
                        <p>
                            Vendas
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/venda/nova" class="nav-link">
                                <i class="bi bi-plus-circle"></i>
                                <p>Nova Venda</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/venda/lista" class="nav-link">
                                <i class="bi bi-receipt"></i>
                                <p>Lista de Vendas</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>
